In [109]:
import pandas as pd
import numpy as np
import math
import time
import datetime

# Import Indicator Data

In [110]:
df_ind = pd.read_csv('combined_indicators.csv')
df_ind.head()

,Unnamed: 0,DATE,GDP,FEDFUNDS,LIBOR,MORTGAGE30US,REAL_USER_COST,UNEMPLOYMENT_RT
0,0,1998-01-01,8866.480,NaN,NaN,NaN,162.0,4.6
1,1,1998-04-01,8969.699,NaN,5.68750,NaN,162.2,4.3
2,2,1998-07-01,9121.097,5.54,5.66016,NaN,163.2,4.5
3,3,1998-10-01,9293.991,5.07,5.37500,NaN,163.9,4.5
4,4,1999-01-01,9417.264,4.63,.,NaN,164.7,4.3

In [121]:
#remove unnamed column
df_indt = df_ind.drop(columns = 'Unnamed: 0')

In [125]:
#columns
df_indt.columns = ['Date', 'GDP', 'FEDFUNDS', 'LIBOR', 'MORTGAGE30US', 'REAL_USER_COST',
       'UNEMPLOYMENT_RT']

In [126]:
df_indt.columns

Index(['Date', 'GDP', 'FEDFUNDS', 'LIBOR', 'MORTGAGE30US', 'REAL_USER_COST',
       'UNEMPLOYMENT_RT'],
      dtype='object')

In [127]:
#date name change
df_indt['Date'] = df_indt['Date'].apply(lambda x: str(x))

In [137]:
#date check
df_indt.iloc[0,0]

'1998-01-01'

# Next data

In [133]:
df_sec = pd.read_csv('raw-data.csv')

In [134]:
df_sec_2 = df_sec.drop(columns = ['Unnamed: 0'])

In [135]:
df_sec_2

,Date,XLB,XLE,XLF,XLI,XLK,XLU,XLV,XLY,GSPC
0,1998-12-22,0.088456,0.042528,-0.010580,0.042720,0.274576,0.293725,0.042590,0.086359,0.218096
1,1998-12-23,0.093065,0.048472,-0.007153,0.047705,0.284847,0.291210,0.050193,0.087368,0.228429
2,1998-12-24,0.103271,0.046938,-0.005595,0.051540,0.283170,0.302213,0.052304,0.091694,0.227490
3,1998-12-28,0.099321,0.045404,-0.008711,0.053074,0.284428,0.299069,0.047236,0.089531,0.227167
4,1998-12-29,0.107551,0.048280,-0.006218,0.057292,0.285686,0.309130,0.054839,0.094722,0.233920
...,...,...,...,...,...,...,...,...,...,...
5250,2019-11-04,0.902655,0.508160,0.117438,0.752853,0.986450,0.966600,0.982565,0.974439,0.993871
5251,2019-11-05,0.904762,0.509142,0.118788,0.754939,0.985109,0.953521,0.973510,0.976100,0.992361
5252,2019-11-06,0.903919,0.493803,0.120628,0.755553,0.984572,0.958350,0.977835,0.977300,0.993255
5253,2019-11-07,0.912347,0.504847,0.123328,0.758989,0.993560,0.941247,0.980673,0.970564,0.996731
5254,2019-11-08,0.917404,0.501779,0.123205,0.760339,1.000000,0.936016,0.989999,0.971025,1.000000

In [136]:
#date check
df_sec_2.iloc[0,0]

'1998-12-22'

# Move returns to quarterly basis

# Combined quarterly return dataframe with quarterly indicator data

In [141]:
joined_raw = df_indt.merge(df_sec_2, on=['Date'], how='outer')

## Sort by Date ascending

In [142]:
joined_raw_sort = joined_raw.sort_values(by='Date', ascending=True)

In [143]:
joined_raw_sort.iloc[:20,:]

,Date,GDP,FEDFUNDS,LIBOR,MORTGAGE30US,REAL_USER_COST,UNEMPLOYMENT_RT,XLB,XLE,XLF,XLI,XLK,XLU,XLV,XLY,GSPC
0,1998-01-01,8866.480,NaN,NaN,NaN,162.0,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998-04-01,8969.699,NaN,5.68750,NaN,162.2,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998-07-01,9121.097,5.54,5.66016,NaN,163.2,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1998-10-01,9293.991,5.07,5.37500,NaN,163.9,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,1998-12-22,NaN,NaN,NaN,NaN,NaN,NaN,0.088456,0.042528,-0.010580,0.042720,0.274576,0.293725,0.042590,0.086359,0.218096
88,1998-12-23,NaN,NaN,NaN,NaN,NaN,NaN,0.093065,0.048472,-0.007153,0.047705,0.284847,0.291210,0.050193,0.087368,0.228429
89,1998-12-24,NaN,NaN,NaN,NaN,NaN,NaN,0.103271,0.046938,-0.005595,0.051540,0.283170,0.302213,0.052304,0.091694,0.227490
90,1998-12-28,NaN,NaN,NaN,NaN,NaN,NaN,0.099321,0.045404,-0.008711,0.053074,0.284428,0.299069,0.047236,0.089531,0.227167
91,1998-12-29,NaN,NaN,NaN,NaN,NaN,NaN,0.107551,0.048280,-0.006218,0.057292,0.285686,0.309130,0.054839,0.094722,0.233920
92,1998-12-30,NaN,NaN,NaN,NaN,NaN,NaN,0.106234,0.043870,-0.007153,0.055950,0.284009,0.304100,0.051882,0.092703,0.229832
93,1998-12-31,NaN,NaN,NaN,NaN,NaN,NaN,0.111502,0.043487,-0.009334,0.058443,0.282332,0.301899,0.055683,0.092415,0.228714
4,1999-01-01,9417.264,4.63,.,NaN,164.7,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,1999-01-04,NaN,NaN,NaN,NaN,NaN,NaN,0.105905,0.043295,-0.009334,0.054224,0.287362,0.292153,0.054839,0.090973,0.228247
95,1999-01-05,NaN,NaN,NaN,NaN,NaN,NaN,0.117099,0.041761,-0.007153,0.060360,0.298682,0.299384,0.060329,0.095010,0.235149
96,1999-01-06,NaN,NaN,NaN,NaN,NaN,NaN,0.125329,0.051157,0.000323,0.066879,0.312098,0.305672,0.066242,0.101931,0.246554
97,1999-01-07,NaN,NaN,NaN,NaN,NaN,NaN,0.121708,0.049814,0.004062,0.064195,0.310630,0.303471,0.064553,0.101643,0.245474
98,1999-01-08,NaN,NaN,NaN,NaN,NaN,NaN,0.137840,0.051157,0.005619,0.066496,0.312517,0.306929,0.068987,0.101931,0.247692
99,1999-01-11,NaN,NaN,NaN,NaN,NaN,NaN,0.138827,0.045596,0.001881,0.063620,0.317128,0.290581,0.069832,0.100633,0.243053
100,1999-01-12,NaN,NaN,NaN,NaN,NaN,NaN,0.126317,0.041186,-0.004972,0.059977,0.304342,0.290895,0.068354,0.094145,0.232968
101,1999-01-13,NaN,NaN,NaN,NaN,NaN,NaN,0.115782,0.036968,-0.008088,0.052307,0.304132,0.294982,0.064975,0.095299,0.230854

# Forward fill all macroeconomic quarterly data

In [146]:
#copy
joined_ffil = joined_raw_sort

In [147]:
joined_ffil.columns

Index(['Date', 'GDP', 'FEDFUNDS', 'LIBOR', 'MORTGAGE30US', 'REAL_USER_COST',
       'UNEMPLOYMENT_RT', 'XLB', 'XLE', 'XLF', 'XLI', 'XLK', 'XLU', 'XLV',
       'XLY', 'GSPC'],
      dtype='object')

In [148]:
joined_ffil['GDP'] = joined_ffil['GDP'].ffill()
joined_ffil['FEDFUNDS'] = joined_ffil['FEDFUNDS'].ffill()
joined_ffil['LIBOR'] = joined_ffil['LIBOR'].ffill()
joined_ffil['MORTGAGE30US'] = joined_ffil['MORTGAGE30US'].ffill()
joined_ffil['REAL_USER_COST'] = joined_ffil['REAL_USER_COST'].ffill()
joined_ffil['UNEMPLOYMENT_RT'] = joined_ffil['UNEMPLOYMENT_RT'].ffill()

In [91]:
joined_ffil['XLB'] = joined_ffil['XLB'].ffill()
joined_ffil['XLE'] = joined_ffil['XLE'].ffill()
joined_ffil['XLF'] = joined_ffil['XLF'].ffill()
joined_ffil['XLI'] = joined_ffil['XLI'].ffill()
joined_ffil['XLK'] = joined_ffil['XLK'].ffill()
joined_ffil['XLU'] = joined_ffil['XLU'].ffill()
joined_ffil['XLV'] = joined_ffil['XLV'].ffill()
joined_ffil['XLY'] = joined_ffil['XLY'].ffill()
joined_ffil['GSPC'] = joined_ffil['GSPC'].ffill()

In [150]:
joined_ffil.tail()

,Date,GDP,FEDFUNDS,LIBOR,MORTGAGE30US,REAL_USER_COST,UNEMPLOYMENT_RT,XLB,XLE,XLF,XLI,XLK,XLU,XLV,XLY,GSPC
5295,2019-11-04,21525.819,2.4,2.38775,3.85,256.161,3.7,0.902655,0.508160,0.117438,0.752853,0.986450,0.966600,0.982565,0.974439,0.993871
5296,2019-11-05,21525.819,2.4,2.38775,3.85,256.161,3.7,0.904762,0.509142,0.118788,0.754939,0.985109,0.953521,0.973510,0.976100,0.992361
5297,2019-11-06,21525.819,2.4,2.38775,3.85,256.161,3.7,0.903919,0.493803,0.120628,0.755553,0.984572,0.958350,0.977835,0.977300,0.993255
5298,2019-11-07,21525.819,2.4,2.38775,3.85,256.161,3.7,0.912347,0.504847,0.123328,0.758989,0.993560,0.941247,0.980673,0.970564,0.996731
5299,2019-11-08,21525.819,2.4,2.38775,3.85,256.161,3.7,0.917404,0.501779,0.123205,0.760339,1.000000,0.936016,0.989999,0.971025,1.000000

# Remove all non market days (when quarterly reports come out on the weekend)

In [152]:
joined_ffil_trim = joined_ffil.dropna()

In [154]:
joined_ffil_trim.head()

,Date,GDP,FEDFUNDS,LIBOR,MORTGAGE30US,REAL_USER_COST,UNEMPLOYMENT_RT,XLB,XLE,XLF,XLI,XLK,XLU,XLV,XLY,GSPC
7,1999-10-01,9899.378,5.2,5.40125,7.7,168.1,4.1,0.151338,0.092573,-0.026156,0.105036,0.394687,0.288695,0.065397,0.093280,0.250887
280,1999-10-04,9899.378,5.2,5.40125,7.7,168.1,4.1,0.151996,0.088738,-0.017900,0.111172,0.408103,0.298441,0.070888,0.101066,0.259904
281,1999-10-05,9899.378,5.2,5.40125,7.7,168.1,4.1,0.148704,0.081452,-0.016966,0.107529,0.411457,0.282407,0.066031,0.101498,0.258559
282,1999-10-06,9899.378,5.2,5.40125,7.7,168.1,4.1,0.154959,0.087204,-0.013072,0.112514,0.418374,0.291210,0.075112,0.104238,0.268511
283,1999-10-07,9899.378,5.2,5.40125,7.7,168.1,4.1,0.158252,0.081068,-0.015253,0.112897,0.415440,0.282721,0.071733,0.103517,0.265300

In [159]:
joined_2 = joined_ffil_trim[joined_ffil_trim['LIBOR'] != '.']

# Save

In [160]:
joined_2.to_csv('daily_final.csv')

,Date,GDP,FEDFUNDS,LIBOR,MORTGAGE30US,REAL_USER_COST,UNEMPLOYMENT_RT,XLB,XLE,XLF,XLI,XLK,XLU,XLV,XLY,GSPC
7,1999-10-01,9899.378,5.2,5.40125,7.70,168.100,4.1,0.151338,0.092573,-0.026156,0.105036,0.394687,0.288695,0.065397,0.093280,0.250887
280,1999-10-04,9899.378,5.2,5.40125,7.70,168.100,4.1,0.151996,0.088738,-0.017900,0.111172,0.408103,0.298441,0.070888,0.101066,0.259904
281,1999-10-05,9899.378,5.2,5.40125,7.70,168.100,4.1,0.148704,0.081452,-0.016966,0.107529,0.411457,0.282407,0.066031,0.101498,0.258559
282,1999-10-06,9899.378,5.2,5.40125,7.70,168.100,4.1,0.154959,0.087204,-0.013072,0.112514,0.418374,0.291210,0.075112,0.104238,0.268511
283,1999-10-07,9899.378,5.2,5.40125,7.70,168.100,4.1,0.158252,0.081068,-0.015253,0.112897,0.415440,0.282721,0.071733,0.103517,0.265300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5295,2019-11-04,21525.819,2.4,2.38775,3.85,256.161,3.7,0.902655,0.508160,0.117438,0.752853,0.986450,0.966600,0.982565,0.974439,0.993871
5296,2019-11-05,21525.819,2.4,2.38775,3.85,256.161,3.7,0.904762,0.509142,0.118788,0.754939,0.985109,0.953521,0.973510,0.976100,0.992361
5297,2019-11-06,21525.819,2.4,2.38775,3.85,256.161,3.7,0.903919,0.493803,0.120628,0.755553,0.984572,0.958350,0.977835,0.977300,0.993255
5298,2019-11-07,21525.819,2.4,2.38775,3.85,256.161,3.7,0.912347,0.504847,0.123328,0.758989,0.993560,0.941247,0.980673,0.970564,0.996731
5299,2019-11-08,21525.819,2.4,2.38775,3.85,256.161,3.7,0.917404,0.501779,0.123205,0.760339,1.000000,0.936016,0.989999,0.971025,1.000000